html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.offset-0 {
  margin-left: 0%;
}

.offset-sm-0 {
  margin-left: 0%;
}

.offset-md-0 {
  margin-left: 0%;
}

.offset-lg-0 {
  margin-left: 0%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-sm-1 {
  margin-left: 8.33333%;
}

.offset-md-1 {
  margin-left: 8.33333%;
}

.offset-lg-1 {
  margin-left: 8.33333%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-sm-2 {
  margin-left: 16.66667%;
}

.offset-md-2 {
  margin-left: 16.66667%;
}

.offset-lg-2 {
  margin-left: 16.66667%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-sm-3 {
  margin-left: 25%;
}

.offset-md-3 {
  margin-left: 25%;
}

.offset-lg-3 {
  margin-left: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-sm-4 {
  margin-left: 33.33333%;
}

.offset-md-4 {
  margin-left: 33.33333%;
}

.offset-lg-4 {
  margin-left: 33.33333%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-sm-5 {
  margin-left: 41.66667%;
}

.offset-md-5 {
  margin-left: 41.66667%;
}

.offset-lg-5 {
  margin-left: 41.66667%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-sm-6 {
  margin-left: 50%;
}

.offset-md-6 {
  margin-left: 50%;
}

.offset-lg-6 {
  margin-left: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-sm-7 {
  margin-left: 58.33333%;
}

.offset-md-7 {
  margin-left: 58.33333%;
}

.offset-lg-7 {
  margin-left: 58.33333%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-sm-8 {
  margin-left: 66.66667%;
}

.offset-md-8 {
  margin-left: 66.66667%;
}

.offset-lg-8 {
  margin-left: 66.66667%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-sm-9 {
  margin-left: 75%;
}

.offset-md-9 {
  margin-left: 75%;
}

.offset-lg-9 {
  margin-left: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-sm-10 {
  margin-left: 83.33333%;
}

.offset-md-10 {
  margin-left: 83.33333%;
}

.offset-lg-10 {
  margin-left: 83.33333%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-sm-11 {
  margin-left: 91.66667%;
}

.offset-md-11 {
  margin-left: 91.66667%;
}

.offset-lg-11 {
  margin-left: 91.66667%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media screen and (min-width: 376px) {
  .container {
    max-width: 540px;
  }

  .offset-0 {
    max-width: 0%;
  }

  .offset-1 {
    max-width: 8.33333%;
  }

  .offset-2 {
    max-width: 16.66667%;
  }

  .offset-3 {
    max-width: 25%;
  }

  .offset-4 {
    max-width: 33.33333%;
  }

  .offset-5 {
    max-width: 41.66667%;
  }

  .offset-6 {
    max-width: 50%;
  }

  .offset-7 {
    max-width: 58.33333%;
  }

  .offset-8 {
    max-width: 66.66667%;
  }

  .offset-9 {
    max-width: 75%;
  }

  .offset-10 {
    max-width: 83.33333%;
  }

  .offset-11 {
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .offset-sm-0 {
    max-width: 0%;
  }

  .offset-sm-1 {
    max-width: 8.33333%;
  }

  .offset-sm-2 {
    max-width: 16.66667%;
  }

  .offset-sm-3 {
    max-width: 25%;
  }

  .offset-sm-4 {
    max-width: 33.33333%;
  }

  .offset-sm-5 {
    max-width: 41.66667%;
  }

  .offset-sm-6 {
    max-width: 50%;
  }

  .offset-sm-7 {
    max-width: 58.33333%;
  }

  .offset-sm-8 {
    max-width: 66.66667%;
  }

  .offset-sm-9 {
    max-width: 75%;
  }

  .offset-sm-10 {
    max-width: 83.33333%;
  }

  .offset-sm-11 {
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .offset-md-0 {
    max-width: 0%;
  }

  .offset-md-1 {
    max-width: 8.33333%;
  }

  .offset-md-2 {
    max-width: 16.66667%;
  }

  .offset-md-3 {
    max-width: 25%;
  }

  .offset-md-4 {
    max-width: 33.33333%;
  }

  .offset-md-5 {
    max-width: 41.66667%;
  }

  .offset-md-6 {
    max-width: 50%;
  }

  .offset-md-7 {
    max-width: 58.33333%;
  }

  .offset-md-8 {
    max-width: 66.66667%;
  }

  .offset-md-9 {
    max-width: 75%;
  }

  .offset-md-10 {
    max-width: 83.33333%;
  }

  .offset-md-11 {
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .offset-lg-0 {
    max-width: 0%;
  }

  .offset-lg-1 {
    max-width: 8.33333%;
  }

  .offset-lg-2 {
    max-width: 16.66667%;
  }

  .offset-lg-3 {
    max-width: 25%;
  }

  .offset-lg-4 {
    max-width: 33.33333%;
  }

  .offset-lg-5 {
    max-width: 41.66667%;
  }

  .offset-lg-6 {
    max-width: 50%;
  }

  .offset-lg-7 {
    max-width: 58.33333%;
  }

  .offset-lg-8 {
    max-width: 66.66667%;
  }

  .offset-lg-9 {
    max-width: 75%;
  }

  .offset-lg-10 {
    max-width: 83.33333%;
  }

  .offset-lg-11 {
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }

  .offset-0 {
    max-width: 0%;
  }

  .offset-1 {
    max-width: 8.33333%;
  }

  .offset-2 {
    max-width: 16.66667%;
  }

  .offset-3 {
    max-width: 25%;
  }

  .offset-4 {
    max-width: 33.33333%;
  }

  .offset-5 {
    max-width: 41.66667%;
  }

  .offset-6 {
    max-width: 50%;
  }

  .offset-7 {
    max-width: 58.33333%;
  }

  .offset-8 {
    max-width: 66.66667%;
  }

  .offset-9 {
    max-width: 75%;
  }

  .offset-10 {
    max-width: 83.33333%;
  }

  .offset-11 {
    max-width: 91.66667%;
  }
}