.offset-sm-1 {
  margin-left: 100%;
}

.offset-md-1 {
  margin-left: 100%;
}

.offset-lg-1 {
  margin-left: 100%;
}

.offset-xl-1 {
  margin-left: 100%;
}

.offset-sm-2 {
  margin-left: 50%;
}

.offset-md-2 {
  margin-left: 50%;
}

.offset-lg-2 {
  margin-left: 50%;
}

.offset-xl-2 {
  margin-left: 50%;
}

.offset-sm-3 {
  margin-left: 33.33333%;
}

.offset-md-3 {
  margin-left: 33.33333%;
}

.offset-lg-3 {
  margin-left: 33.33333%;
}

.offset-xl-3 {
  margin-left: 33.33333%;
}

.offset-sm-4 {
  margin-left: 25%;
}

.offset-md-4 {
  margin-left: 25%;
}

.offset-lg-4 {
  margin-left: 25%;
}

.offset-xl-4 {
  margin-left: 25%;
}

.offset-sm-5 {
  margin-left: 20%;
}

.offset-md-5 {
  margin-left: 20%;
}

.offset-lg-5 {
  margin-left: 20%;
}

.offset-xl-5 {
  margin-left: 20%;
}

.offset-sm-6 {
  margin-left: 16.66667%;
}

.offset-md-6 {
  margin-left: 16.66667%;
}

.offset-lg-6 {
  margin-left: 16.66667%;
}

.offset-xl-6 {
  margin-left: 16.66667%;
}

.offset-sm-7 {
  margin-left: 14.28571%;
}

.offset-md-7 {
  margin-left: 14.28571%;
}

.offset-lg-7 {
  margin-left: 14.28571%;
}

.offset-xl-7 {
  margin-left: 14.28571%;
}

.offset-sm-8 {
  margin-left: 12.5%;
}

.offset-md-8 {
  margin-left: 12.5%;
}

.offset-lg-8 {
  margin-left: 12.5%;
}

.offset-xl-8 {
  margin-left: 12.5%;
}

.offset-sm-9 {
  margin-left: 11.11111%;
}

.offset-md-9 {
  margin-left: 11.11111%;
}

.offset-lg-9 {
  margin-left: 11.11111%;
}

.offset-xl-9 {
  margin-left: 11.11111%;
}

.offset-sm-10 {
  margin-left: 10%;
}

.offset-md-10 {
  margin-left: 10%;
}

.offset-lg-10 {
  margin-left: 10%;
}

.offset-xl-10 {
  margin-left: 10%;
}

.offset-sm-11 {
  margin-left: 9.09091%;
}

.offset-md-11 {
  margin-left: 9.09091%;
}

.offset-lg-11 {
  margin-left: 9.09091%;
}

.offset-xl-11 {
  margin-left: 9.09091%;
}

.offset-sm-12 {
  margin-left: 8.33333%;
}

.offset-md-12 {
  margin-left: 8.33333%;
}

.offset-lg-12 {
  margin-left: 8.33333%;
}

.offset-xl-12 {
  margin-left: 8.33333%;
}

.test-0 {
  margin-left: 0%;
}

.test-1 {
  margin-left: 8.33333%;
}

.test-2 {
  margin-left: 16.66667%;
}

.test-3 {
  margin-left: 25%;
}

.test-4 {
  margin-left: 33.33333%;
}

.test-5 {
  margin-left: 41.66667%;
}

.test-6 {
  margin-left: 50%;
}

.test-7 {
  margin-left: 58.33333%;
}

.test-8 {
  margin-left: 66.66667%;
}

.test-9 {
  margin-left: 75%;
}

.test-10 {
  margin-left: 83.33333%;
}

.test-11 {
  margin-left: 91.66667%;
}

.test-12 {
  margin-left: 100%;
}