// Vendors
// @import "./vendor/normalize/_normalize.scss";

// Typography
// @import "./_fonts.scss";

// @mixin font($font_name, $file_name, $weight, $style) {
// 	@font-face {
// 		font-family: $font_name;
// 		font-display: swap;
// 		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
// 		font-weight: #{$weight};
// 		font-style: #{$style};
// 	}
// }

// @import "fonts.scss";
// @import "./_typography.scss";

// Mixins
// @import "./mixins/_mixins.scss";

$col: 576;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$gutter: 30;
$grid: 12;

// $offsets: ($io * (1 / $grid)) * 100%;



$grid-name: col sm md lg xl;
@for $i from 1 through $grid {
	@each $grid in $grid-name {
		@if $grid != "col" {
			.col-#{$grid}-#{$i} {
				width: 100% / ($i * 1);
				padding: 0 $gutter / 2 + px;
			}
		} @else if $grid == "col" {
			.col-#{$i} {
				width: 100% / ($i * 1);
				padding: 0 $gutter / 2 + px;
			}
		}
	}
}

@for $i from 0 through $grid {
	@each $grid in $grid-name {
		@if $grid != "col" {
			.offset-#{$grid}-#{$i} {
				width: 100% / ($i * 1);
				// margin-left: ($i * (1 / $grid)) * 100%;
			}
		} @else if $grid == "col" {
			.offsaet-#{$i} {
				width: 100% / ($i * 1);
				// padding: 0 $gutter / 2 + px;
			}
		}
	}
}



// @for $i from 0 through $grid {
	

// 	.offset-#{$i} {
// 		margin-left: ($i * (1 / $grid)) * 100%;
// 	}
// }




