// Vendors
// @import "./vendor/normalize/_normalize.scss";

@import "./base";
// Grid
// @import "./grid";

// Typography
// @import "./_fonts.scss";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts.scss";
@import "./_typography.scss";

// Mixins
@import "./mixins/_mixins.scss";




h1 {
	font-style: 120px;
	color: blue;
}
.block {
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 100%;
	background: $color-red;
}

* {
	border: 1px red solid;
}